.robot-container {
  width: 820px;
  height: 845px;
  top: 100px;
  border: 2px solid black;
  margin: 60px auto;
  background: #333;
  display: block;
  position: relative;
}

.robot-face-shape {
  width: 700px;
  height: 700px;
  background: rgb(0 0 0 / 50%);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

.robot-eye-left {
  width: 150px;
  height: 75px;
  border: 2px solid white;
  background: url(https://picsum.photos/seed/picsum/200/300);
  background-position: center;
  border-radius: 50%;
  position: relative;
  left: 150px;
  top: 175px;
  z-index: 10;
  display: inline-block;
}
.robot-eye-right {
  width: 150px;
  height: 75px;
  border: 2px solid white;
  background: radial-gradient(circle, black, white);
  border-radius: 50%;
  position: relative;
  margin-left: 240px;
  top: 175px;
  z-index: 10;
  display: inline-block;
}

.robot-ear-left {
  width: 75px;
  height: 200px;
  border: 2px solid white;
  background: #00b33c;
  border-radius: 50% 0 0 50%;
  position: absolute;
  left: 0;
  top: 300px;
  z-index: 10;
}

.robot-ear-right {
  width: 75px;
  height: 200px;
  border: 2px solid white;
  background: #8b008b;
  border-radius: 0 50% 50% 0;
  position: absolute;
  right: 0;
  top: 300px;
  z-index: 10;
}

.robot-nose {
  width: 100px;
  height: 150px;
  border: 2px solid white;
  background: linear-gradient(to bottom, #99ffcc 0%, #0066ff 100%);
  position: relative;
  margin: 0 auto;
  top: 200px;
  display: block;
  z-index: 3;
}

.robot-teeth {
  height: 155px;
  aspect-ratio: 3/2;
  clip-path: ellipse(85% 100% at 50% 0);
  background: rgb(200, 21, 21);
  position: relative;
  margin: 0 auto;
  top: 225px;
  display: block;
  z-index: 3;
  text-align: center;
}

.robot-tooth {
  width: 45px;
  height: 50px;
  background: white;
  border: 2px solid solid;
  position: relative;
  display: inline-block;
  margin: 5px 3px;
  top: 5px;
  z-index: 4;
}

.robot-hair-style {
  position: absolute;
  width: 100%;
  height: 40px;
  top: 25px;
  left: 0;
  z-index: 15;
  display: inline-block;
}

.robot-hair-one {
  width: 60px;
  height: 30px;
  border: 2px solid white;
  background: #554ca8;
  border-radius: 50% 50% 0 0;
  position: absolute;
  left: 300px;
  top: 40px;
  z-index: 16;
}

.robot-hair-two {
  width: 60px;
  height: 80px;
  border: 2px solid white;
  background: #8fb22e;
  border-radius: 50% 50% 0 0;
  position: absolute;
  left: 375px;
  top: -5px;
  z-index: 17;
}

.robot-hair-three {
  width: 60px;
  height: 30px;
  border: 2px solid white;
  background: #a26d38;
  border-radius: 50% 50% 0 0;
  position: absolute;
  right: 307px;
  top: 38px;
  z-index: 16;
}
